@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Permanent+Marker&family=Tiro+Devanagari+Sanskrit:ital@0;1&family=Ubuntu:wght@300&display=swap');

.logo{
    width: 70px;

}
nav a{
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 10px;
    font-family: caveat;
    font-size: 40px;   
}
nav a:hover{
    color: rgb(129, 205, 15);
    background: black;
}

nav{
    display: flex;
    justify-content: space-around;
}


.Greetings{
    text-align: center;
    font-family: Caveat;
}
.Greetings{
    text-justify: auto;
    text-align: left;
    font-family: caveat;
}

.food-1{
    display: flex;
    margin-left: 0PX;
    margin-right: auto;
    width: 300px;
}
.food-2{
    display: flex;
    margin-left: auto;
    margin-right: 0px;
    width: 300px;
    height: 100%;
}
p{
    padding: 45px;
    font-family: Tiro Devanagari Sanskrit;
    font-size: 150%;
    color: rgb(88, 12, 241);
}
.C-Dishes, .L-Dishes{
    background-color: black;
    column-gap: 10px;
    row-gap: 15px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
.C-Dishes img, .L-Dishes img{
    width: 100%;
    height: 100%;
}
.Local, .continental{
    text-align: center;
    font-family: caveat;
}
.flyer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.flyer img{
    width: 100%S;
    height: 100%;
}

footer{
    background: lightgreen;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}